<h1>Register With Name</h1>
<form method="post" action="/addname">
<p>Enter your name</p>
<input type = "text" id="firstName" name="firstName" placeholder="Enter firstname" />
<input type = "text" id="lastName" name="lastName" placeholder="Enter lastname" />
<input type="submit" value="Add name" />
</form>