#divMain{
    height: 95vh;
    display: grid;
    grid-template-areas:
    'header header header'
    'nav content ads'
    'nav footer footer';
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 1fr 100px;
    margin: 0 0 0 0;
}
#ifContent{
    height: 100%;
    width: 100%;
    border: 0cm;
}

#pageHeader { 
    grid-area: header; 
    text-align: center;
    background-color:  rgba(254, 215, 0, 1);
    padding: 40px 10px;
    
}
#pageNav { 
    grid-area: nav; 
    padding: 20px 20px;
    background-color:  rgba(254, 215, 0, 1);
}
#pageArticle { 
    grid-area: content; 
    padding: 20px 20px;
    background-color:  rgba(254, 215, 0, 1);
}
#pageAside { 
    grid-area: ads; 
    padding: 20px 20px;
    background-color:  rgba(254, 215, 0, 1);
}
#pageFooter {
    grid-area: footer; 
    padding: 20px 20px;
    background-color:  rgba(254, 215, 0, 1);
}