label{
    font-weight: bold;
}
input{
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding: 10px 0px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 0px;
}
body{
    background-color: white;
}

#btnReg{
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}
