label{
    font-weight: bold;
    padding: 10px 5px;
}
input{
    width: 90%;
    background-color: rgb(245, 245, 245);
    padding: 10px 10px;
    border: 0px;
}
body{
    background-color: white;
}

#btnReg{
    color: #fff;
    background-color: #4CAF50;
    cursor: pointer;
}
